.main-nav-item-active-1 {
    background-color: #f0cc01;
}
#fun-fact-text {
    background-color: #055594;
}
#contact {
    background-color: #158ae1;
}
#contact input, #contact textarea {
	color: #005493;
	background-color: #158ae1;
}
h1 { 
	color: #005493;
}
#side-nav ul li.section-active a,
#side-nav ul li.cat-active a,
#side-nav ul li.subCat-active a {
    background-color: #005493;
}
#side-nav ul li.section-active {
    background-image: url("/rsrc/common/active-arrow-29-internal-blue.png");
}
#side-nav ul li.cat-active {
    background-image: url("/rsrc/common/active-arrow-29-internal-blue.png");
}
#side-nav ul li.subCat-active {
    background-image: url("/rsrc/common/active-arrow-23-internal-blue.png");
}
#profiles {
	margin: 0;
	color: black;
	background-color: #96c7e8;
}
.profile img {
	border:0 none;
}
.profile {
    background-color: #FFFFFF;
    float: left;
    height: 239px;
    margin: 0 0 1px 1px;
    overflow: hidden;
    width: 191px;
}
.profile-pic {
    height: 178px;
    margin: 0;
    overflow: hidden;
    width: 191px;
}
.profile-name, .profile-title {
    padding-left: 12px;
}
.profile-name {
    font-weight: 900;
    margin-top: 13px;
    text-transform: uppercase;
}
.profile-title {
    font-size: 12px;
    margin-top: 4px;
}
